{% extends 'base.html' %}
{% block content %}
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
        }

        html {
            box-sizing: border-box;
        }

        *, *:before, *:after {
            box-sizing: inherit;
        }

        .column {
            float: left;
            width: 33.3%;
            margin-bottom: 16px;
            padding: 0 8px;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin: 8px;
        }

        .about-section {
            padding: 50px;
            text-align: center;
            background-color: #474e5d;
            color: white;
        }

        .container {
            padding: 0 16px;
        }

        .container::after, .row::after {
            content: "";
            clear: both;
            display: table;
        }

        .title {
            color: grey;
        }

        .button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
        }

        .button:hover {
            background-color: #555;
        }

        @media screen and (max-width: 650px) {
            .column {
                width: 100%;
                display: block;
            }
        }
    </style>
    </head>
    <body style="background-color:#adb5bd">

    <div class="about-section">
        <h1>Über uns</h1>
        <p>feel free to contact us :)</p>
    </div>

    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="/img/team1.jpg" alt="Mitja" style="width:100%">
                <div class="container">
                    <h2>Mitja Busch</h2>
                    <p class="title">Srum Master</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>mitja@busch.com</p>
                    <p>
                        <button class="button" onclick="parent.location='mailto:mitja@busch.com'">Contact</button>
                    </p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src={{ url_for('static', filename='/img/ProfilbildMirjam.png') }} alt="Mirijam" style="width:57%">
                <div class="container">
                    <h2>Mirijam Horwitz</h2>
                    <p class="title">Developer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>Mirijam@Horwitz.com</p>
                    <p>
                        <button class="button" onclick="parent.location='mailto:Mirijam@Horwitz.com'">Contact</button>
                    </p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src={{ url_for('static', filename='/img/kamyprofil.jpg') }} alt="Kamyab" style="width:100%">
                <div class="container">
                    <h2>Kamyab Bagherifar</h2>
                    <p class="title">Developer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>kamyab.bagherifar@otto.de</p>
                    <p>
                        <button class="button" onclick="parent.location='mailto:kamyab.bagherifar@otto.de'">Contact
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>

    </body>
    </html>
{% endblock %}