{% extends 'base.html' %}


{% block content %}
    <div class="justify-content-xl-start mt-4">
        <form action="/" method="get">
            <input class="btn btn-info" type="submit" value="zurück zur Startseite">
        </form>
    </div>
    <h1 class="d-flex justify-content-center my-5">{% block title %} GEEK-Fitness GmbH Abteilungen{% endblock %}</h1>
    <ul class="list-unstyled">
        {% for department in departments %}
            <ul class="h3">
                <li>{{ department['name_departments'] }} Abteilung</li>
            </ul>
            <div class="d-flex justify-content-start">
                <div class="px-1 pt-1">
                    <form action={{ "/action" + department['name_departments'] }} method="get">
                        <input class="btn btn-outline-primary" type="submit" value="Alle Geräte der Abteilung ansehen">
                    </form>
                </div>
                <div class="px-1 pt-1"><p> Oder </p></div>
                <div class="px-1 pt-1">
                    <form action={{ "/donwloadTxt"  + department['name_departments'] }}  method="get">
                        <input class="btn btn-outline-success" type="submit" value="Herunterladen">
                    </form>
                </div>
            </div>
        {% endfor %}
    </ul>
{% endblock %}