{% extends 'base.html' %}


{% block content %}
    <div class="justify-content-xl-start mt-4">
        <form action="/action1" method="get">
            <input class="btn btn-info" type="submit" value="zurück zur Abteilung">
        </form>
    </div>
    <div class="d-flex justify-content-center pb-3"><h1>{% block title %} Gerät Name und ihre
        IP-Adresse{% endblock %}</h1></div>
    <div>
        <table class="table table-striped table-bordered table-hover ">
            <tr>
            <tr>
                <th style="width: 50%">Gerät-Name</th>
                <th style="width: 50%">IP</th>
            </tr>
            </tr>
        </table>
    </div>
    {% for devices in device_ip %}
        <div>
            <table class="table table-striped table-bordered table-hover ">
                <tr>
                <tr>
                    <th style="width: 50%">{{ devices['name_device'] }}</th>
                    <th style="width: 50%">{{ devices['ip_device'] }}</th>
                </tr>
                </tr>
            </table>
        </div>
    {% endfor %}
{% endblock %}