{% extends 'base.html' %}


{% block content %}
    <div class="justify-content-xl-start mt-4">
    <form action="/action1" method="get">
            <input class="btn btn-info" type="submit" value="zurück zur Startseite">
        </form>
    </div>
    <div class="d-flex justify-content-center pb-3"><h1 class="abc">{% block title %} Gerät Name und ihre IP-Adresse{% endblock %}</h1></div>
    <div>
<table class="table table-striped table-bordered table-hover ">
	<tr>
		<tr>
		<th style="width: 50%">Gerät-Name</th>
		<th style="width: 50%">IP oder Passwort</th>
	</tr>
	</tr>
</table>
</div>
    {% for gi in general_information %}
<div>
<table class="table table-striped table-bordered table-hover ">
	<tr>
		<tr>
    <th style="width: 50%"td class="tg-ytfs">{{gi['general_information_name']}}</th>
    <th style="width: 50%">
        {% if gi['general_information_pw'] is not none %}
            {{ gi['general_information_pw'] }}
        {% else %}
        {{ gi['general_information_ip'] }}
        {% endif %}
   </tr>
	</tr>
</table>
</div>
    {% endfor %}
{% endblock %}