{% extends 'base.html' %}
{% block content %}
    <div class="d-flex justify-content-center"><h1>{% block title %} GEEK-Fitness GmbH Netzwerk
        Datenbank{% endblock %}</h1></div>
    <div class="d-flex justify-content-around my-5">
        <form action="/action1" method="get">
            <input class="btn btn-outline-dark" type="submit" value="Alle Abteilungen ansehen">
        </form>
        <form action="/action2" method="get">
            <input class="btn btn-outline-dark" type="submit" value="Allgemeine Informationen für Admin">
        </form>
    </div>
{% endblock %}
