{% extends 'base.html' %}
{% block content %}
    <div class="justify-content-xl-start mt-4">
        <form action="/" method="get">
            <input class="btn btn-info" type="submit" value="zurück zur Startseite">
        </form>
    </div>
    <div class="text-center pt-3">
        <img src={{ url_for('static', filename='/img/Portbelegungstabelle.png') }} class="img-fluid" alt="port_table">
    </div>




{% endblock %}